//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #FF7F2A;
$green: #054636;
$base-font-size: 12px !default;
$menu-expanded-width: 300px;
