//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #FF7F2A;
$info: #00578C;
$success:#145e0c;
// $danger:#ab0011;
$danger: rgba(171, 0, 17, 1.0);
$green: #054636;
$base-font-size: 13px !default;
$menu-expanded-width: 320px;
