@{
    ViewData["title"] = "Dashboard";
}

<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-start mb-0">Kelola Sampah</h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Kelola Sampah</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
        <div class="mb-1 breadcrumb-right">
            <div class="dropdown">
                <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="/dashboard"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Kelola Sampah</span></a>
                    <a class="dropdown-item" href="/dashboard/bantargebang"><i class="me-1" data-feather="trash"></i><span class="align-middle">Bantargebang</span></a>
                    <a class="dropdown-item" href="/dashboard/bpsrw"><i class="me-1" data-feather="mail"></i><span class="align-middle">BPS RW</span></a>
                    <a class="dropdown-item" href="/dashboard/tps"><i class="me-1" data-feather="calendar"></i><span class="align-middle">TPS &amp; TPS 3R</span></a>
                    <a class="dropdown-item" href="/dashboard/bpsrw"><i class="me-1" data-feather="dollar-sign"></i><span class="align-middle">Bank Sampah</span></a>
                    <a class="dropdown-item" href="/dashboard/rdf"><i class="me-1" data-feather="feather"></i><span class="align-middle">RDF</span></a>
                    <a class="dropdown-item" href="/dashboard/fpsa"><i class="me-1" data-feather="database"></i><span class="align-middle">FPSA</span></a>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="content-body">
    <section id="statistics-card">
        <!-- Kelola Sampah -->
        <div class="row match-height">            
            <div class="col-lg-4 col-sm-12 col-12">
                <div class="card text-center bg-dark">
                    <div class="card-body">
                        <div class="p-10">
                            <h5 class="text-light">Timbulan Sampah</h5>
                            <span class="text-light" style="font-size: 24px; font-weight:bold">256.953,15</span> <br />
                            <span class="text-light">Ton/Bulan</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-12">
                <div class="card bg-primary text-light">
                    <div class="card-header">
                        <div>
                            <h2 class="fw-bolder mb-0 text-light">62.911,89 Ton/Bulan</h2>
                            <p class="card-text">Pengurangan Sampah</p>                            
                        </div>
                        <div class="p-50 m-0">
                            <div class="avatar-content">
                                <span class="font-medium-5 text-light">24,48%</span>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="progress progress-bar-success mt-4">
                                <div class="progress-bar" role="progressbar" aria-valuenow="24.48" aria-valuemin="0" aria-valuemax="100" style="width: 24.48%;">24,48%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-12">
                <div class="card bg-info text-light">
                    <div class="card-header">
                        <div>
                            <h2 class="fw-bolder mb-0 text-light">191.917,57 Ton/Bulan</h2>
                            <p class="card-text">Penanganan Sampah</p>                            
                        </div>
                        <div class="p-50 m-0">
                            <div class="avatar-content">
                                <span class="font-medium-5 text-light">74,69%</span>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="progress progress-bar-primary mt-4">
                                <div class="progress-bar" role="progressbar" aria-valuenow="74.69" aria-valuemin="0" aria-valuemax="100" style="width: 74.69%;">74,69%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
        <div class="row match-height">
            <div class="col-lg-6 col-sm-12 col-12">
                <div class="card bg-success text-light">
                    <div class="card-header">
                        <div>
                            <h2 class="fw-bolder mb-0 text-light">254.829,46 Ton/Bulan</h2>
                            <p class="card-text">Sampah Terkelola</p>                            
                        </div>
                        <div class="p-50 m-0">
                            <div class="avatar-content">
                                <span class="font-medium-5 text-light">99,17%</span>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="progress progress-bar-danger mt-4">
                                <div class="progress-bar" role="progressbar" aria-valuenow="99.17" aria-valuemin="0" aria-valuemax="100" style="width: 99.17%;">99,17%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <div class="card bg-danger text-light">
                    <div class="card-header">
                        <div>
                            <h2 class="fw-bolder mb-0 text-light">2.123,69 Ton/Bulan</h2>
                            <p class="card-text">Sampah Tidak Terkelola</p>                            
                        </div>
                        <div class="p-50 m-0">
                            <div class="avatar-content">
                                <span class="font-medium-5 text-light">0,73%</span>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="progress progress-bar-secondary mt-4    ">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0.73" aria-valuemin="0" aria-valuemax="100" style="width: 0.73%;">0,73%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bantargebang -->
        @* <div class="row match-height">
            <h3>Bantargebang</h3>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="p-10">
                            <h3>Jumlah Truk Dumping</h5>
                            <span style="font-size: 20px; font-weight:bold">224 Unit</span>
                            <div class="row mt-2">                                
                            </div>
                            <span style="font-size:16px;">Rata-Rata Dwelling Time:</span>
                                <select name="" id="" style="font-size:16px;">
                                    <option value="4">4 Jam</option>
                                    <option value="8" selected>8 Jam</option>
                                    <option value="12">12 Jam</option>
                                    <option value="16">16 Jam</option>
                                    <option value="20">20 Jam</option>
                                    <option value="24">24 Jam</option>
                                </select> <br />
                            <span style="font-size: 20px; font-weight:bold">1 Jam 54 Menit</span>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="p-10">
                            <div class="text-center">
                                <span style="font-size:20px;font-weight:bold;">Statistik Kumulatif   :</span>
                                <select name="" id="" style="font-size:20px;">
                                    <option value="1">Per Kemarin</option>
                                    <option value="2" selected>Per Hari Ini</option>
                                    <option value="3">Per Minggu</option>
                                    <option value="4">Per Bulan</option>
                                </select> <br />
                                <h3 class="mt-2">Jumlah Truk Menimbang :</h3>
                                <span style="font-size: 20px; font-weight:bold">849 Unit</span>
                                <h3 class="mt-2">Jumlah Tonase : </h3>
                                <span style="font-size: 20px; font-weight:bold">4749.78 Ton</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div> *@

        <!-- BPS RW -->
        @* <div class="row match-height">
            <h3>BPS RW</h3>
            <div class="col-xl-4 col-md-4 col-sm-6">
                <div class="card text-center bg-info text-light">
                    <div class="card-body text-light">
                        <div class="avatar bg-danger p-50 mb-1 text-light">
                            <div class="avatar-content">
                                <i data-feather="database" class="font-medium-5"></i>
                            </div>
                        </div>
                        <h2 class="fw-bolder text-light">2.750</h2>
                        <p class="card-text text-light">Jumlah RW</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6">
                <div class="card text-center bg-danger text-light">
                    <div class="card-body text-light">
                        <div class="avatar bg-success p-50 mb-1 text-light">
                            <div class="avatar-content">
                                <i data-feather="home" class="font-medium-5"></i>
                            </div>
                        </div>
                        <h2 class="fw-bolder text-light">15.789</h2>
                        <p class="card-text text-light">Jumlah Rumah</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6">
                <div class="card text-center bg-success text-light">
                    <div class="card-body text-light">
                        <div class="avatar bg-primary p-50 mb-1 text-light">
                            <div class="avatar-content">
                                <i data-feather="feather" class="font-medium-5"></i>
                            </div>
                        </div>
                        <h2 class="fw-bolder text-light">12.267</h2>
                        <p class="card-text text-light">Jumlah Rumah Memilah</p>
                    </div>
                </div>
            </div>
        </div> *@
    </section>
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            @foreach (var claim in ((System.Security.Claims.ClaimsIdentity)User.Identity!).Claims)
                            {
                                <li>Type: @claim.Type</li>
                                <li>Value: @claim.Value</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
