@model JenisTps

<form action="/transport/jenis-tps/save" method="post">
    <input type="hidden" asp-for="JenisID" />
    <div class="modal-header">
        @if (Model.JenisID == 0)
        {
            <h4 class="modal-title">Tambah Jenis TPS</h4>
        }
        else
        {
            <h4 class="modal-title">Edit Jenis TPS</h4>
        }

        <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Nama Jenis TPS</label>
            <input type="text" asp-for="NamaJenis" class="form-control" autocomplete="off" autofocus />
            <span asp-validation-for="NamaJenis" class="text-danger"></span>
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </div>
</form>