
<div class="modal-header bg-transparent">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body pb-5 px-sm-5 pt-50">
    <div class="text-center mb-2">
        <h1 class="mb-1">Tambah/Edit Pegawai</h1>
        <form action="/master/pegawai/store" method="post" class="row gy-1 pt-75">
            <div class="col-12 col-md-6">
                <label class="form-label" for="NamaPegawai">NamaPegawai</label>
                <input type="text" id="NamaPegawai" class="form-control" placeholder="Nama Pegawai.." autofocus />
            </div>
        </form>
    </div>
</div>
